{% for phase in site.phases %}
{% assign phase_displayed = false %}
    {%for post in site.posts reversed %}
        {% if post.categories[0] == page.current_category and post.tags[0] == phase[0]%}
          {% if phase_displayed == false %}
            <h3>{{ phase[0] }}:"{{ phase[1] }}"</h3>
            {% assign phase_displayed = true %}
          {% endif %}
    <ul>
        <li>
          {% if post.active  %}
	{% assign difficulty_num = post.difficulty | plus: 0 %}
	{% if  difficulty_num >= 0 %}
	  [
	  {%for star in (1..3) %}
	{% if star <= difficulty_num  %}
<img src="/assets/star_white.png" width="20">
	{% else %}
<img src="/assets/star_black.png" width="20">
	{% endif %}
	  {% endfor %}
]
	{% endif %}
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            {{ post.title }}
          </a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </li>
    </ul>
    {% endif %}
    {% endfor %}
{% endfor %}
