---
layout: default
---
<h3>Difficulty: {% assign difficulty_num = page.difficulty | plus: 0 %}
{% if  difficulty_num >= 0 %}
[
  {%for star in (1..3) %}
    {% if star <= difficulty_num  %}
      <img src="/assets/star_white.png" width="20">
    {% else %}
      <img src="/assets/star_black.png" width="20">
    {% endif %}
  {% endfor %}
]
{% endif %}
</h3>
<article>
  <h2>{{ page.title }}</h2>
  <!-- <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time> -->
  {{ content }}
</article>

<h3 >Heroes of the task: </h3>
  {%for hero in page.heroes %}
    {{hero| markdownify}}

  {% endfor %}
